body{
    font-family: 'Libre Baskerville', serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.p2{
    color: rgb(2, 1, 1);
    font-size: 25px;  
}
.half-width{
    width: 38%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half-width img{
    width: 60%;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.p4{
    color: dimgray;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,rgb(251, 40, 2));
    padding: 7px 10px;
    border-radius: 5px;
    color: ivory;
    font-weight: 500;
    font-size: 12px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.name-color {
   color: rgb(0, 172, 143);
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 55%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(190deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 8px;
}
